<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Sen:700&display=swap&subset=cyrillic" rel="stylesheet">
	<title>Документ без названия</title>
</head>

<body>
	<header>
		<div class="user-info position-absolute">
<!--
			<p class="name">Илья Самойлов</p>
			<p class="pos">Колонист</p>
			<p><a href="#" class="logout">Выйти из MarsOne</a></p>
-->
			<p class="no-login">Вход не выполнен</p>
			<p class="login"><a href="#" class="login">Войти в MarsOne</a></p>
			<p class="register"><a href="#" class="register">Регистрация в MarsOne</a></p>
		</div>
	  <div class="logo">
			<span class="mars logo-line">Mars</span><span class="one logo-line">One</span>
		</div>
		<div class="quote">
			<span class="quote-line">И на Марсе будут яблони цвести!</span>
		</div>
		<ul class="nav justify-content-center">
		  <li class="nav-item">
			<a class="nav-link" href="#">Главная</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Работы</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled" href="#">Департаменты</a>
		  </li>
		</ul>
	</header>
</body>
</html>
